# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# ML datasets
data/_temp_downloads/
data/raw/**/*
!data/raw/**/
!data/raw/**/.gitkeep
data/processed/**/*
!data/processed/**/
!data/processed/**/.gitkeep

# Model artifacts
models/*.pt
models/*.pth
models/*.onnx
!models/.gitkeep
!models/image_classifier.pth
!models/best_model.pth

# MLflow
mlruns/
mlartifacts/
mlflow/artifacts/
mlflow/*.db
*.db
!mlflow/.gitkeep

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
pinokio setup.txt

# Python cache
.pytest_cache/
.coverage
htmlcov/

# Terraform
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl


