# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# ML datasets
data/raw/
data/processed/

# Model artifacts
models/*.pt
models/*.pth
models/*.onnx
!models/.gitkeep

# MLflow
mlruns/
mlartifacts/
!mlflow/.gitkeep

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.coverage
htmlcov/

# Terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
