aws_region          = "ap-south-1"
project_name        = "image-classification-mlops"
environment         = "dev"
kubernetes_version  = "1.33"
alert_email         = "your-email@example.com"
budget_limit_amount = "50"
